<div class="jumbotron text-center">
    <h1>Albumy</h1>
    <form name="addAlbumForm" novalidate ng-submit="addAlbum(newAlbum)">
      <label>artysta</label>
      <input name="artist" required type="text" ng-model="newAlbum.artist">
      <label>tytuł</label>
      <input name="title" required type="text" ng-model="newAlbum.title">
      <button type="submit" ng-disabled="addAlbumForm.$invalid">OK</button>
    </form>

    <style>
      .box2 {
        display: inline-block;
        width: 20%;
        height: 200px;
        margin: 1em;
        border-style: solid;
        vertical-align:top;
      }
    </style>
    <div class="box2" ng-repeat="album in albums"
         ng-mouseenter="active=true"
         ng-mouseleave="active=false"
         ng-click="editWindow=!editWindow">
      <p>{{album.artist}}</p>
      <p>{{album.title}}</p>
      <i class="fa fa-trash" aria-hidden="true" ng-show="active" ng-click="deleteAlbum(album._id)"></i>
      <i class="fa fa-pencil" aria-hidden="true" ng-show="active" ng-click="editAlbum(album)"></i>
    </div>
</div>
