<div class="jumbotron text-center">
    <h1>Albumy</h1>
    <form name="addAlbumForm" novalidate ng-submit="addAlbum(newAlbum)">
      <label>artysta</label>
      <input name="artist" required type="text" ng-model="newAlbum.artist">
      <label>tytuł</label>
      <input name="title" required type="text" ng-model="newAlbum.title">
      <button type="submit" ng-disabled="addAlbumForm.$invalid">OK</button>
    </form>

    <style>
      .box2 {
        display: inline-block;
        width: 20%;
        height: 200px;
        margin: 1em;
        border-style: solid;
        vertical-align:top;
      }
    </style>
    <div class="box2" ng-repeat="album in albums" ng-mouseenter="active=true"
    ng-mouseleave="active=false">
      <p>{{album.artist}}</p>
      <p>{{album.title}}</p>
      <i class="fa fa-trash" aria-hidden="true" ng-show="active" ng-click="deleteAlbum(album._id)"></i>
      <i class="fa fa-pencil" aria-hidden="true" ng-show="active" ng-click="editAlbum(album)"></i>
    </div>
</div>


<script type="text/ng-template" id="myModalContent.html">
       <div class="modal-header">
           <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
       </div>
       <div class="modal-body" id="modal-body">
         BODY
       </div>
       <div class="modal-footer">
           <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
           <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
       </div>
</script>
<button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
